@font-face {
    font-family: 'FloodStd';
    src: url("../assets/Donation page/flood-std/FloodStd.otf") format("opentype");
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    --dark-std: #354463;  
    --highlight-std: #C1F7D5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: var(--dark-std);
}
a:hover {
    cursor: pointer;
}
a:visited {
    color: var(--dark-std);
}


@media (max-width: 600px) {
    .header {
        padding: 40px 32px 32px 40px;
        
    }
    .header__title {
        
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        padding-right: 65px;
        color: var(--dark-std);
    }
    .header__nav {
        
        font-size: 14px;
        line-height: 25px;
        color: var(--dark-std);
    }
    .header__text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }
    /* .header__title span::after {
        content: "\a";
        white-space: pre;
    } */

    .header__button {
        border: none;
        border-radius: 20px;
        width: 312px;
        height: 40px;
        background-color: var(--highlight-std);
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-std);
    }
    .header__nav ul {
        width : 110px;
    }



    .main__section--one {
        background: url("./assets/home/mobile/annie-spratt-135307-unsplash.png");
        padding: 32px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--one_hashtag {
        font-size: 44px;
        line-height: 46px;
        color: white;
        font-family: "FloodStd";
        text-transform: uppercase;
    }
    .main__section--one_box {
        background-color: white;
        padding: 30px 19px;
        margin-top: 135px;
        position: relative;
    }
    .main__section--one_box_point {
        text-transform: uppercase;
        background-color: var(--dark-std);
        color: white;
        font-size: 14px;
        padding: 11px 30px;
        display: inline-block;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .main__section--one_box_text {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 25px;
    }
    .main__section--one_box_link {
        color: var(--dark-std);
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        text-decoration: underline;
    }


    .main__section--two {
        background-color: var(--highlight-std);
        padding: 65px 32px 58px 32px;
        position: relative; 
    }
    .main__section--two_point {
        color: white;
        background-color: var(--dark-std);
        font-size: 14px;
        padding: 11px 30px;
        display: inline-block;
        position: absolute;
        margin-top: -80px;
        margin-left: 40%;
        transform: translateX(-50%);
    }
    .main__section--two_body {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 25px;
        
    }
    .main__section--two_body_title {
        font-weight: bold;
        font-size: 18px;
        color: var(--dark-std);
        
    }
    .main__section--two_body_desc {
        font-size: 14px;
        line-height: 20px;
        color: var(--dark-std);
    }



    .main__section--three {
        padding: 43px 32px;
        background: var(--dark-std);
    }
    .main__section--three_point {
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        line-height: 17px; 
        display: inline-block;
        padding: 11px 5%; 
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .main__section--three_title {
        color: white;
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 25px;
        margin-bottom: 45px;
        text-align: center;
    }
    .main__section--three_cards {
        display: flex; 
        flex-direction: column;
    }
    .main__section--three_card {
        background-color: white;
        padding: 32px;
        margin-bottom: 45px;
    }
    .main__section--three_card img {
        max-width: 100%;
        margin-top: -50px;
        margin-bottom: 25px;
    }
    .main__section--three_card_body {

    }   
    .main__section--three_card_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        
    }
    .main__section--three_card_text {
        color: var(--dark-std); 
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .main__section--three_card_button {
        /* 14 34 16 20; */
        color: var(--dark-std);
        font-weight: bold;
        background-color: var(--highlight-std);
        padding: 14px 5%; 
        display: inline-block;
        border-radius: 21px;
        margin-left: 50%;
        transform: translateX(-50%);
    }


    .main__section--four {
        padding: 64px 32px 10px 32px;
        background: url("./assets/home/mobile/Did\ you\ know\ background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--four_caption {
        color: white;
        font-family: "FloodStd";
        font-size: 44px;
        line-height: 46px;
        text-transform: uppercase;
    }
    .main__section--four_button {
        color: var(--dark-std);
        font-size: 16px;
        font-weight: bold;
        background-color: var(--highlight-std);
        padding: 14px;
        display: inline-block;
        border-radius: 22px;
    }
    .main__section--four_cards {
        margin-top: 25px;
    }
    .main__section--four_title {
        font-size: 14px;
        background-color: var(--dark-std);
        color: white;
        padding: 11px 20px;
        display: inline-block;
        margin-left: 45%;
        transform: translateX(-50%);
        margin-bottom: -25px;
    }
    .main__section--four_card {
        padding: 25px;
        display: grid;
        grid-template: repeat(2, 33%) / repeat(6, 1fr);
        background-color: white;
        grid-gap: 10px;
        margin-top: 15px;
    }
    .main__section--four_card_title {
        font-size: 22px;
        font-weight: bold;
        color: var(--dark-std);
        grid-column: 1 / 6;
    }
    .main__section--four_card_text {
        font-size: 14px; 
        line-height: 20px;
        color: var(--dark-std);
        grid-column: 1 / 6;
    }
    .main__section--four_card_share {
        grid-column: 6 / 7; 
        grid-row: 1 / 5;
    }
    .tweet, .fb {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--highlight-std);
        padding: 7px;
        margin-bottom: 7px;
    }   



    .main__section--five {
        padding: 56px 32px;
    }
    .main__section--five_head {

    }
    .main__section--five_head_title {
        width: 100%;
        display: flex;
    }
    .main__section--five_head_title div {
        background-color: var(--dark-std);
        color: white; 
        font-size: 14px; 
        padding: 11px 30px;
        display: inline-block;
        transform: translateY(50%);
        margin: 0 auto;
    }
    .main__section--five_head_img {
        background-image: url("assets/home/mobile/lady-baby.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 376px;
        width: auto;
    }
    .main__section--five_head_img img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
    .main__section--five_body {
        background-color: var(--dark-std);
        padding: 30px;
        color: white;
        margin-top: 25px;
    }
    .main__section--five_body_text {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }
    .main__section--five_body_subtext {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .main__section--five_button {
        margin-top: 15px;
        width: 100%;
        display: flex;
    }
    .main__section--five_button div{
        background-color: var(--highlight-std);
        color: var(--dark-std);
        font-size: 18px;
        font-weight: bold;
        padding: 9px 20px;
        border-radius: 18px;
        display: inline-block;
        margin: 0 auto;
    }


/* section 6 */

    .main__section--six {
        padding: 69px 32px; 
        background-color: var(--dark-std);
    }
    .main__section--six_caption {
        font-family: "FloodStd";
        color: white;
        font-size: 44px;
        line-height: 46px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
    .main__section--six_subsection_tag {
        display: flex; 
        justify-content: center;
    }
    .main__section--six_subsection_tag div{
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        line-height: 17px;
        padding: 11px 30px;
        display: inline-block;
        transform: translateY(50%);
    }
    .main__section--six_subsection_img {
        width: 312px;
        height: 312px; 
        background: url("assets/home/mobile/newtree-planting.png");
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--six_subsection_body {
        margin-bottom: 50px;
    }
    .body_title {
        color: white;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }
    .body_text {
        color: white;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 15px;
    }
    .body_button {
        display: flex;
        justify-content: center;
    }
    .body_button div{
        background-color: var(--highlight-std);
        color: var(--dark-std);
        font-size: 18px;
        font-weight: bold;
        padding: 9px 18px;
        border-radius: 18px;
        display: inline-block;
        
    }


    /* section 7 */
    .main__section--seven {
        background-color: var(--highlight-std);
        padding: 36px 30px;
    }
    .main__section--seven_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .main__section--seven_form {
        display: flex;
        justify-content: space-between;
    }
    .main__section--seven_form input[type="email"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
    }
    .main__section--seven_form input[type="submit"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        font-weight: bold;
        color: white;
        background-color: var(--dark-std);
    }



    footer {
        display: grid;
        grid-template: 1fr 1fr 1fr / 50% 50%;
        grid-gap: 13px;
        padding: 67px 58px 0 32px;
        line-height: 24px;
        
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 1 / 2;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 2 / 3;
    }
}


@media (min-width: 601px) and (max-width: 1200px) {

    .header {
        padding: 40px 32px 3px 64px;
        display: flex;
        justify-content: space-between;
        
        
    }
    .header__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .header__title {
        
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 30px;
        color: var(--dark-std);
    }
    .header__nav {
        
        font-size: 16px;
        line-height: 25px;
        color: var(--dark-std);
    }
    .header__nav ul {
    }
    .header__nav li {
        display: inline;
        padding: 0 10px;
    }
    
    .header__button {
        border: none;
        border-radius: 24px;
        width: 140px;
        height: 48px;
        background-color: var(--highlight-std);
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-std);
        align-self: center;
    }



    .main__section--one {
        background: url("./assets/home/tablet/annie-spratt-135307-unsplash.png");
        padding: 80px 64px 80px 64px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--one_hashtag {
        font-size: 44px;
        line-height: 46px;
        color: white;
        font-family: "FloodStd";
        text-transform: uppercase;
        padding-right: 500px;
    }
    .main__section--one_box {
        background-color: white;
        padding: 59px 64px 64px 64px;
        margin-top: 80px;
        position: relative;

    }
    .main__section--one_box_point {
        text-transform: uppercase;
        background-color: var(--dark-std);
        color: white;
        font-size: 14px;
        padding: 11px 30px;
        display: inline-block;
        position: absolute;
        top: -20px;
        
    }
    .main__section--one_box_text {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 25px;
    }
    .main__section--one_box_link {
        color: var(--dark-std);
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-decoration: underline;
    }



    .main__section--two {
        background-color: var(--highlight-std);
        padding: 65px 32px 58px 32px;
        position: relative; 
    }
    .main__section--two_point {
        color: white;
        background-color: var(--dark-std);
        font-size: 14px;
        padding: 11px 30px;
        display: inline-block;
        position: absolute;
        margin-top: -80px;
        margin-left: 45%;
        transform: translateX(-50%);
    }
    .main__section--two_body {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 85px;
        
    }
    .main__section--two_body_title {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: var(--dark-std);
        
    }
    .main__section--two_body_desc {
        font-size: 16px;
        line-height: 24px;
        color: var(--dark-std);
    }



    .main__section--three {
        padding: 43px 32px;
        background: var(--dark-std);
    }
    .main__section--three_point {
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        line-height: 17px; 
        display: inline-block;
        padding: 11px 5%; 
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .main__section--three_title {
        color: white;
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 25px;
        margin-bottom: 45px;
        text-align: center;
    }
    .main__section--three_cards {
        display: flex; 
        flex-direction: column;
    }
    .main__section--three_card {
        background-color: white;
        padding: 32px;
        margin-bottom: 45px;
        display: grid;
        grid-template: 2fr 0.5fr / repeat(6, 1fr);
    }
    .main__section--three_card img {
        max-width: 100%;
        margin-top: -50px;
        margin-bottom: 25px;
        grid-column: 1 / 3;
    }
    .main__section--three_card_body {
        grid-column: 4 / 7;
    }   
    .main__section--three_card_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
        
    }
    .main__section--three_card_text {
        color: var(--dark-std); 
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
    .main__section--three_card_button {
        /* 14 34 16 20; */
        color: var(--dark-std);
        font-weight: bold;
        background-color: var(--highlight-std);
        padding: 14px 5%; 
        display: inline-block;
        border-radius: 21px;
        grid-column: 2 / 3;
    }


    .main__section--four {
        padding: 64px 32px 10px 32px;
        background: url("./assets/home/tablet/Did\ you\ know\ background.png");
        display: grid;
        grid-template: repeat(20, 5%) / repeat(10, 10%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--four_caption {
        color: white;
        font-family: "FloodStd";
        font-size: 44px;
        line-height: 46px;
        text-transform: uppercase;
    }
    .main__section--four_button {
        color: var(--dark-std);
        font-size: 16px;
        font-weight: bold;
        background-color: var(--highlight-std);
        padding: 14px;
        display: inline-block;
        border-radius: 22px;
        grid-row: 9 / 10; 
        grid-column: 1 / 4;
    }
    .main__section--four_cards {
        margin-top: 25px;
        grid-column: 6 / 10;
        
    }
    .main__section--four_title {
        font-size: 14px;
        background-color: var(--dark-std);
        color: white;
        padding: 11px 20px;
        display: inline-block;
        margin-left: 45%;
        transform: translateX(-50%);
        margin-bottom: -25px;
        ;
    }
    .main__section--four_card {
        padding: 20px;
        display: grid;
        grid-template: repeat(2, 33%) / repeat(6, 1fr);
        background-color: white;
        grid-gap: 10px;
        margin-top: 15px;
    }
    .main__section--four_card_title {
        font-size: 22px;
        font-weight: bold;
        color: var(--dark-std);
        grid-column: 1 / 6;
    }
    .main__section--four_card_text {
        font-size: 14px; 
        line-height: 20px;
        color: var(--dark-std);
        grid-column: 1 / 6;
    }
    .main__section--four_card_share {
        grid-column: 7 / 8; 
        grid-row: 1 / 5;
    }
    .tweet, .fb {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--highlight-std);
        padding: 7px;
        margin-bottom: 7px;
    }   




    .main__section--five {
        padding: 64px;
        display: grid;
        grid-template: repeat(20, 5%) / repeat(20, 5%);
    }
    .main__section--five_head {

    }
    .main__section--five_head_title {
        width: 100%;
        display: flex;
    }
    .main__section--five_head_title div {
        background-color: var(--dark-std);
        color: white; 
        font-size: 14px; 
        padding: 11px 30px;
        display: inline-block;
        transform: translateY(50%);
        margin: 0 10%;
    }
    .main__section--five_head_img {
        background-image: url("assets/home/tablet/lady-baby.png");
        width: 576px;
        height: 576px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--five_head_img img {
        
        grid-row: 2 / 16;
        grid-column: 1 / 15;
    }
    .main__section--five_body {
        background-color: var(--dark-std);
        padding: 30px;
        color: white;
        grid-row: 14 / 19;
        grid-column: 4 / 20;
    }
    .main__section--five_body_text {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }
    .main__section--five_body_subtext {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .main__section--five_button {
        width: 100%;
        grid-column: 2 / 7;
        grid-row: 20 / 21;
    }
    .main__section--five_button div{
        background-color: var(--highlight-std);
        color: var(--dark-std);
        font-size: 18px;
        font-weight: bold;
        padding: 9px 20px;
        border-radius: 18px;
        display: inline-block;
        
    }


    /* section 6 */
    .main__section--six {
        padding: 64px; 
        background-color: var(--dark-std);
    }
    .main__section--six_caption {
        font-family: "FloodStd";
        color: white;
        font-size: 44px;
        line-height: 46px;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 30px;
    }
    .main__section--six_subsection {
        display: grid;
        grid-template: repeat(10, 5%) / repeat(20, 5%);
    }
    .main__section--six_subsection_tag {
        /* display: flex; 
        justify-content: center; */
        grid-column: 11 / span 3;
        grid-row: 1 / 2;
    }
    .main__section--six_subsection_tag div{
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        line-height: 17px;
        padding: 11px 30px;
        display: inline-block;  
    }
    .main__section--six_subsection_img {
        max-width: 312px;
        height: 312px; 
        background: url("assets/home/mobile/newtree-planting.png");
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / span 8;
    }
    .main__section--six_subsection_body {
        margin-bottom: 50px;
        grid-column: 11 / -1;
        grid-row: 3 / -1;
    }
    .body_title {
        color: white;
        font-size: 28px;
        line-height: 36px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 15px;
    }
    .body_text {
        color: white;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 15px;
    }
    .body_button {
        display: flex;
    }
    .body_button div{
        background-color: var(--highlight-std);
        color: var(--dark-std);
        font-size: 18px;
        font-weight: bold;
        padding: 9px 18px;
        border-radius: 18px;
        display: inline-block;
        
    }

    #two .main__section--six_subsection_tag {
        /* display: flex; 
        justify-content: center; */
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }
    #two .main__section--six_subsection_img {
        max-width: 312px;
        height: 312px; 
        background: url("assets/home/mobile/newtree-planting.png");
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 11 / span 8;
    }
    #two .main__section--six_subsection_body {
        margin-bottom: 50px;
        grid-column: 1 / 10 ;
        grid-row: 3 / span 6;
    }


    /* section 7 */
    .main__section--seven {
        background-color: var(--highlight-std);
        padding: 36px 30px;
    }
    .main__section--seven_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .main__section--seven_form form{
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .main__section--seven_form input[type="email"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        grid-column: 1 / 3;
    }
    .main__section--seven_form input[type="submit"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        font-weight: bold;
        color: white;
        background-color: var(--dark-std);
        grid-column: 3 / 4;
    }



    footer {
        display: grid;
        grid-template: 50% 50% / 1fr 1fr 1fr;
        grid-gap: 13px;
        padding: 67px 32px 0 64px;
        line-height: 24px;
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 3 / 4;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 1 / 2;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 2 / 3;
    }    
}



@media (min-width: 1201px) {
    .header {
        padding: 40px 160px 3px 160px;
        display: flex;
        justify-content: space-between;
        
        
    }
    .header__text {
        
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        
    }
    .header__title {
        
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: var(--dark-std);
        width: 150px;
    }
    .header__nav {
        
        font-size: 16px;
        line-height: 25px;
        color: var(--dark-std);
    }
     
    .header__nav li {
        display: inline;
        padding: 0 50px;
    }
    .header__nav ul:nth-child(1) {
        
    }
    
    .header__button {
        border: none;
        border-radius: 24px;
        width: 140px;
        height: 48px;
        background-color: var(--highlight-std);
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-std);
    }




    .main__section--one {
        background: url("./assets/home/desktop/annie-spratt-135307-unsplash.png");
        padding: 128px 160px 128px 160px;
        display: flex;
        flex-direction: row-reverse;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--one_hashtag {
        font-size: 72px;
        line-height: 76px;
        color: white;
        font-family: "FloodStd";
        text-transform: uppercase;
        margin-left: 135px;
    }
    .main__section--one_box {
        background-color: white;
        padding: 59px 64px 64px 64px;
        
        position: relative;

    }
    .main__section--one_box_point {
        text-transform: uppercase;
        background-color: var(--dark-std);
        color: white;
        font-size: 14px;
        padding: 11px 30px;
        display: inline-block;
        position: absolute;
        top: -20px;
        
    }
    .main__section--one_box_text {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 44px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 25px;
    }
    .main__section--one_box_link {
        color: var(--dark-std);
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-decoration: underline;
    }



    .main__section--two {
        background-color: var(--highlight-std);
        padding: 79px 160px 79px 160px;
        position: relative; 
    }
    .main__section--two_point {
        color: white;
        background-color: var(--dark-std);
        font-size: 14px;
        padding: 11px 30px;
        display: inline-block;
        position: absolute;
        margin-top: -90px;
        margin-left: 40%;
        transform: translateX(-50%);
    }
    .main__section--two_body {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        grid-gap: 85px;
        
    }
    .main__section--two_body_title {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: var(--dark-std);
        
    }
    .main__section--two_body_desc {
        font-size: 16px;
        line-height: 24px;
        color: var(--dark-std);
    }




    .main__section--three {
        padding: 88px 160px;
        background: var(--dark-std);
    }
    .main__section--three_point {
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        line-height: 17px; 
        display: inline-block;
        padding: 11px 5%; 
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .main__section--three_title {
        color: white;
        font-size: 44px;
        font-weight: bold;
        line-height: 56px;
        margin-top: 25px;
        margin-bottom: 45px;
        
    }
    .main__section--three_cards {
        display: flex; 
    }
    .main__section--three_card {
        background-color: white;
        padding: 32px;
        margin-bottom: 45px;
        margin-right: 64px;
    }
    .main__section--three_card img {
        max-width: 100%;
        margin-top: -50px;
        margin-bottom: 25px;
    }
    .main__section--three_card_body {
    }   
    .main__section--three_card_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
        
    }
    .main__section--three_card_text {
        color: var(--dark-std); 
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
    .main__section--three_card_button {
        /* 14 34 16 20; */
        color: var(--dark-std);
        font-weight: bold;
        background-color: var(--highlight-std);
        padding: 14px 5%; 
        display: inline-block;
        border-radius: 21px;
        grid-column: 2 / 3;
    }


    .main__section--four {
        padding: 143px 160px 143px 160px;
        background: url("./assets/home/desktop/Did\ you\ know\ background.png");
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--four_caption {
        color: white;
        font-family: "FloodStd";
        font-size: 72px;
        line-height: 76px;
        text-transform: uppercase;
        grid-column: 1 / 5;
    }
    .main__section--four_button {
        color: var(--dark-std);
        font-size: 21px;
        font-weight: bold;
        background-color: var(--highlight-std);
        padding: 14px;
        display: inline-block;
        border-radius: 35px;
        grid-row: 9 / 10; 
        grid-column: 1 / 3;
        text-align: center;
    }
    .main__section--four_cards {
        margin-top: 25px;
        grid-column: 7 / 11;
        
    }
    .main__section--four_title {
        font-size: 14px;
        background-color: var(--dark-std);
        color: white;
        padding: 11px 20px;
        display: inline-block;
        margin-left: 45%;
        transform: translateX(-50%);
        margin-bottom: -25px;
        ;
    }
    .main__section--four_card {
        padding: 20px;
        display: grid;
        grid-template: repeat(2, 33%) / repeat(6, 1fr);
        background-color: white;
        grid-gap: 10px;
        margin-top: 15px;
    }
    .main__section--four_card_title {
        font-size: 22px;
        font-weight: bold;
        color: var(--dark-std);
        grid-column: 1 / 6;
    }
    .main__section--four_card_text {
        font-size: 14px; 
        line-height: 20px;
        color: var(--dark-std);
        grid-column: 1 / 6;
    }
    .main__section--four_card_share {
        grid-column: 7 / 8; 
        grid-row: 1 / 5;
    }
    .tweet, .fb {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--highlight-std);
        padding: 7px;
        margin-bottom: 7px;
    }



    .main__section--five {
        padding: 64px;
        display: grid;
        grid-template: repeat(14, 5%) / repeat(14, 5%);
    }
    .main__section--five_head {
        grid-column: 10 / span 9;
    }
    .main__section--five_head_title {
        width: 100%;
        display: flex;
    }
    .main__section--five_head_title div {
        background-color: var(--dark-std);
        color: white; 
        font-size: 14px; 
        padding: 11px 30px;
        display: inline-block;
        transform: translateY(50%);
        margin: 0 10%;
    }
    .main__section--five_head_img {
        background-image: url("assets/home/desktop/lady-baby.png");
        width: 576px;
        height: 576px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__section--five_head_img img {
     
    }
    .main__section--five_body {
        background-color: var(--dark-std);
        padding: 64px;
        color: white;
        grid-row: 4 / 11;
        grid-column: 2 / 11;
    }
    .main__section--five_body_text {
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        text-align: left;
    }
    .main__section--five_body_subtext {
        font-size: 20px;
        line-height: 32px;
        text-align: left;
    }
    .main__section--five_button {
        width: 100%;
        grid-column: 2 / 7;
        grid-row: 12 / 13;
    }
    .main__section--five_button div{
        background-color: var(--highlight-std);
        color: var(--dark-std);
        font-size: 18px;
        font-weight: bold;
        padding: 9px 20px;
        border-radius: 18px;
        display: inline-block;
        
    }

    /* section 6 */

    .main__section--six {
        padding: 64px; 
        background-color: var(--dark-std);
    }
    .main__section--six_caption {
        font-family: "FloodStd";
        color: white;
        font-size: 72px;
        line-height: 76px;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 30px;
    }
    .main__section--six_subsection {
        display: grid;
        grid-template: repeat(10, 5%) / repeat(20, 5%);
    }
    .main__section--six_subsection_tag {
        /* display: flex; 
        justify-content: center; */
        grid-column: 11 / span 3;
        grid-row: 1 / 2;
    }
    .main__section--six_subsection_tag div{
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        line-height: 17px;
        padding: 11px 30px;
        display: inline-block;  
    }
    .main__section--six_subsection_img {
        max-width: 576px;
        height: 576px; 
        background: url("assets/home/desktop/tree-planting.png");
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / span 9;
    }
    .main__section--six_subsection_body {
        margin-bottom: 50px;
        grid-column: 11 / -1;
        grid-row: 3 / -1;
    }
    .body_title {
        color: white;
        font-size: 44px;
        line-height: 56px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 15px;
    }
    .body_text {
        color: white;
        font-size: 20px;
        line-height: 32px;
        text-align: left;
        margin-bottom: 15px;
    }
    .body_button {
        display: flex;
    }
    .body_button div{
        background-color: var(--highlight-std);
        color: var(--dark-std);
        font-size: 18px;
        font-weight: bold;
        padding: 9px 18px;
        border-radius: 18px;
        display: inline-block;
        
    }

    #two .main__section--six_subsection_tag {
        /* display: flex; 
        justify-content: center; */
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }
    #two .main__section--six_subsection_img {
        max-width: 576px;
        height: 576px; 
        background: url("assets/home/desktop/tree-planting.png");
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 11 / span 9;
    }
    #two .main__section--six_subsection_body {
        margin-bottom: 50px;
        grid-column: 1 / 10 ;
        grid-row: 3 / span 6;
    }


    /* section 7 */
    .main__section--seven {
        background-color: var(--highlight-std);
        padding: 69px 160px;
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        grid-gap: 10px;
    }
    .main__section--seven_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
        padding-right: 25px;
        grid-column: 1 / 3;
    }
    .main__section--seven_form {
        grid-column: 3 / 5;
    }
    .main__section--seven_form form{
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .main__section--seven_form input[type="email"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        grid-column: 1 / 3;
    }
    .main__section--seven_form input[type="submit"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        font-weight: bold;
        color: white;
        background-color: var(--dark-std);
        grid-column: 3 / 4;
    }

    footer {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 100px;
        padding: 113px 158px 121px 158px;
        line-height: 24px;
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;

    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 3 / 4;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 4 / 5;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 5 / 6;
    }       
}
