@font-face {
    font-family: 'FloodStd';
    src: url("../assets/Donation page/flood-std/FloodStd.otf") format("opentype");
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    --dark-std: #354463;  
    --highlight-std: #C1F7D5;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;  
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: var(--dark-std);
}
a:hover {
    cursor: pointer;
}
a:visited {
    color: var(--dark-std);
}


header {
    background-color: white;
    display: flex; 
    justify-content: center;
    
}

header div {
    text-align: center;
    color: var(--dark-std);
    font-weight: bold;
    font-size: 18px; 
}



@media (max-width: 500px) {
    header {
       padding-top: 21px; 
       padding-bottom: 19px;
    }

    .main {
        padding: 32px;
        
        background-image: url("../assets/Donation page/annie-spratt-427340-unsplash-(1)/annie-spratt-427340-unsplash-(1).png");
    }
    
    .main__form {
        background-color: var(--dark-std);
        padding: 32px;
    }   
    
    .main__title {
        font-family: 'FloodStd', sans-serif;
        color: white;
        font-size: 30px;
    }
    
    .main__form--body {
        font-size: 11px;
    }
    .main__form--section {
        font-weight: bold;
        color: white;
        font-size: 22px;
    }
    #payment.main__form--section {
        margin-top: 25px;
    }
    
    .main__form--body {
        color: white;
    }
    
    .main__form--bodygrid{
        display: grid;
        grid-template: repeat(4, 25%) / repeat(4, 25%);
        margin-top: 15px;
        
    }
    .main__form--bodygrid_element {
        display: flex; 
        flex-direction: column;
        
        padding: 5px 0 5px 0;   
    }
    .main__form--bodygrid_element input {
        background-color: var(--dark-std);
        outline: none;
        border: none;
        border-bottom: solid var(--highlight-std);
        color: var(--highlight-std);
        font-size: 16px;
    }
    
    
    
    #info .main__form--bodygrid_element:nth-child(1) {
        grid-column: 1 / 3; 
        margin-right: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(2) {
        grid-column: 3 / 5; 
        margin-left: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(3) {
        grid-column: 1 / 5; 
        
    }
    #info .main__form--bodygrid_element:nth-child(4) {
        grid-column: 1 / 3; 
        
        margin-right: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(5) {
        grid-column: 3 / 4; 
        margin-left: 6px;
        margin-right: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(6) {
        grid-column: 4 / 5; 
        margin-left: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(7) {
        grid-column: 1 / 5; 
        
    }
    
    
    
    #payment .main__form--bodygrid_element:nth-child(1) {
        grid-column: 1 / 5; 
    }
    #payment .main__form--bodygrid_element:nth-child(2) {
        grid-column: 1 / 3; 
        margin-right: 6px;
    }
    #payment .main__form--bodygrid_element:nth-child(3) {
        grid-column: 3 / 5; 
        margin-left: 6px;
    }
    
    .main__form--instruction {
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
    }
    
    .main__form--end {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .main__form--submit {
        margin: 15px auto;
        width: 230px;
        height: 49px;
        border-radius: 25px;
        border: none;
        background-color: var(--highlight-std);
        font-size: 16px;
        font-weight: bold;
    }
    
    .main__form-goback {
        color: var(--highlight-std);
        font-size: 14px;
        align-self: flex-start;
    }
    
    .footer {
        
        display: grid;
        grid-template: 1fr 1fr 1fr / 50% 50%;
        grid-gap: 13px;
        padding: 67px 58px 0 32px;
        line-height: 24px;
        
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 1 / 2;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 2 / 3;
    }
}


@media (min-width: 500px) and (max-width: 1000px) {
    header {
       padding-top: 33px; 
       padding-bottom: 29px;
    }

    .main {
         padding: 64px;
         
         background-image: url("../assets/Donation page/annie-spratt-427340-unsplash-(1)/tablet/annie-spratt-427340-unsplash-\(1\).png  ");
     }
     
    .main__form {
         background-color: var(--dark-std);
         padding: 64px;
     }   
     
     .main__title {
         
         font-family: 'FloodStd', sans-serif;
         color: white;
         font-size: 30px;
         text-align: center;
         margin-top: 10px;
         margin-bottom: 64px
     }
     
     .main__form--body {
         font-size: 11px;
     }
     .main__form--section {
         font-weight: bold;
         color: white;
         font-size: 28px;
     }
     #payment.main__form--section {
         margin-top: 65px;
     }
     
     .main__form--body {
         color: white;
     }
     
     .main__form--bodygrid{
         display: grid;
         grid-template: repeat(4, 25%) / repeat(4, 25%);
         margin-top: 15px;
         
     }
     .main__form--bodygrid_element {
         display: flex; 
         flex-direction: column;
         
         padding: 5px 0 5px 0; 
         font-size: 14px;
         margin-top: 12px;  
     }
     .main__form--bodygrid_element input {
         background-color: var(--dark-std);
         outline: none;
         border: none;
         border-bottom: solid var(--highlight-std);
         color: var(--highlight-std);
         font-size: 16px;
     }
     
     
     
     #info .main__form--bodygrid_element:nth-child(1) {
         grid-column: 1 / 3; 
         margin-right: 6px;
     }
     #info .main__form--bodygrid_element:nth-child(2) {
         grid-column: 3 / 5; 
         margin-left: 6px;
     }
     #info .main__form--bodygrid_element:nth-child(3) {
         grid-column: 1 / 5; 
         
     }
     #info .main__form--bodygrid_element:nth-child(4) {
         grid-column: 1 / 3; 
         
         margin-right: 6px;
     }
     #info .main__form--bodygrid_element:nth-child(5) {
         grid-column: 3 / 4; 
         margin-left: 6px;
         margin-right: 6px;
     }
     #info .main__form--bodygrid_element:nth-child(6) {
         grid-column: 4 / 5; 
         margin-left: 6px;
     }
     #info .main__form--bodygrid_element:nth-child(7) {
         grid-column: 1 / 5; 
         
     }
     
     
     
     #payment .main__form--bodygrid_element:nth-child(1) {
         grid-column: 1 / 5; 
     }
     #payment .main__form--bodygrid_element:nth-child(2) {
         grid-column: 1 / 3; 
         margin-right: 6px;
     }
     #payment .main__form--bodygrid_element:nth-child(3) {
         grid-column: 3 / 5; 
         margin-left: 6px;
     }
     
     .main__form--instruction {
         font-weight: bold;
         font-size: 28px;
         margin-top: 35px;
     }
     
     .main__form--end {
         
         margin-top: 45px;
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
     }

     .main__form--submit {
         
         width: 230px;
         height: 49px;
         border-radius: 25px;
         border: none;
         background-color: var(--highlight-std);
         font-size: 16px;
         font-weight: bold;

     }
     
     .main__form-goback {
         color: var(--highlight-std);
         font-size: 14px;
     }
     
     .footer {
         
         display: grid;
         grid-template: 50% 50% / 1fr 1fr 1fr;
         grid-gap: 13px;
         padding: 67px 32px 0 64px;
         line-height: 24px;
     }
     
     .footer__b1 {
         font-size: 18px;
         color: var(--dark-std);
         font-weight: bold;
         grid-column: 1 / 2;
     }
     
     
     .footer__b2 {
         font-size: 14px;
         color: var(--dark-std);
         grid-column: 2 / 3;
     }
     
     .footer__b3 {
         font-size: 14px;
         color: var(--dark-std);
         grid-column: 3 / 4;
     }
     .footer__b4 {
         font-size: 14px;
         color: var(--dark-std);
         grid-column: 1 / 2;
     }
     .footer__b5 {
         font-size: 44px;
         font-family: "FloodStd";
         color: var(--dark-std);
         line-height: 46px;
         grid-column: 2 / 3;
     }    
}


@media (min-width: 1000px) {
    header div{
       padding-top: 28px; 
       padding-bottom: 28px;
       font-size: 28px;
    }

    .main {
        padding: 80px 140px 128px 140px;
        
        background-image: url("../assets/Donation page/annie-spratt-427340-unsplash-(1)/desktop/annie-spratt-427340-unsplash-\(1\).png");
    }
    .main__body--flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }


   .main__form {
        background-color: var(--dark-std);
        padding: 64px;
        width: 640px;
    }   
    
    .main__title {

        
        font-family: 'FloodStd', sans-serif;
        color: white;
        font-size: 72px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 64px
    }
    
    .main__form--body {
        font-size: 11px;
    }
    .main__form--section {
        font-weight: bold;
        color: white;
        font-size: 28px;
    }
    #payment.main__form--section {
        margin-top: 65px;
    }
    
    .main__form--body {
        color: white;
    }
    
    .main__form--bodygrid{
        display: grid;
        grid-template: repeat(4, 25%) / repeat(4, 25%);
        margin-top: 15px;
        
    }
    .main__form--bodygrid_element {
        display: flex; 
        flex-direction: column;
        
        padding: 5px 0 5px 0; 
        font-size: 14px;
        margin-top: 12px;  
    }
    .main__form--bodygrid_element input {
        background-color: var(--dark-std);
        outline: none;
        border: none;
        border-bottom: solid var(--highlight-std);
        color: var(--highlight-std);
        font-size: 16px;
    }
    
    
    
    #info .main__form--bodygrid_element:nth-child(1) {
        grid-column: 1 / 3; 
        margin-right: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(2) {
        grid-column: 3 / 5; 
        margin-left: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(3) {
        grid-column: 1 / 5; 
        
    }
    #info .main__form--bodygrid_element:nth-child(4) {
        grid-column: 1 / 3; 
        
        margin-right: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(5) {
        grid-column: 3 / 4; 
        margin-left: 6px;
        margin-right: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(6) {
        grid-column: 4 / 5; 
        margin-left: 6px;
    }
    #info .main__form--bodygrid_element:nth-child(7) {
        grid-column: 1 / 5; 
        
    }
    
    
    
    #payment .main__form--bodygrid_element:nth-child(1) {
        grid-column: 1 / 5; 
    }
    #payment .main__form--bodygrid_element:nth-child(2) {
        grid-column: 1 / 3; 
        margin-right: 6px;
    }
    #payment .main__form--bodygrid_element:nth-child(3) {
        grid-column: 3 / 5; 
        margin-left: 6px;
    }
    
    .main__form--instruction {
        font-weight: bold;
        font-size: 28px;
        margin-top: 35px;
    }
    
    .main__form--end {
        
        margin-top: 45px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .main__form--submit {
        
        width: 230px;
        height: 49px;
        border-radius: 25px;
        border: none;
        background-color: var(--highlight-std);
        font-size: 16px;
        font-weight: bold;

    }
    
    .main__form-goback {
        color: var(--highlight-std);
        font-size: 14px;
    }
    
    .footer {
        
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 100px;
        padding: 113px 158px 121px 158px;
        line-height: 24px;
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;

    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 3 / 4;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 4 / 5;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 5 / 6;
    }        
}


.errorMessageTop, .errorMessageBottom {
  width: 100%;
  height: 15px;
  color: red;
  margin-top: 5px;
  font-size: 15px;
  font-style: italic; 
}
.successMessage {
    width: 100%;
    height: 15px;
    color: rgb(169, 236, 169);
    margin-top: 5px;
    font-size: 15px;
    font-style: italic; 
  }
.hidden {
    /* display: none; */
}