@font-face {
    font-family: 'FloodStd';
    src: url("../assets/Donation page/flood-std/FloodStd.otf") format("opentype");
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    --dark-std: #354463;  
    --highlight-std: #C1F7D5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}


a:link {
    text-decoration: none;
    color: var(--dark-std);
}
a:hover {
    cursor: pointer;
}
a:visited {
    color: var(--dark-std);
}

.linebreak::before {
    content: "\a";
    white-space: pre;
}



@media (max-width: 600px) {
    .header {
        padding: 40px 32px 32px 40px;
        
    }
    .header__title {
        
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        padding-right: 65px;
        color: var(--dark-std);
    }
    .header__nav {
        
        font-size: 14px;
        line-height: 25px;
        color: var(--dark-std);
    }
    .header__text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }
    /* .header__title span::after {
        content: "\a";
        white-space: pre;
    } */

    .header__button {
        border: none;
        border-radius: 20px;
        width: 312px;
        height: 40px;
        background-color: var(--highlight-std);
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-std);
    }
    .header__nav ul {
        
        width : 110px;
    }


    .main__section--one {
        
        background-image: url("../assets/about us/mobile/annie-spratt-427339-unsplash.png");
        padding: 32px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main__section--one_hashtag {
        font-family: 'FloodStd';
        font-size: 44px;
        color: white;
    }
    .main__section--one_1 {
        font-size: 22px;
        
        background-color: white;
        padding-top: 32px; 
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 32px;
        margin-top: 136px;
        position: relative;
         
    }

    .main__section--one_1 div {
        position: absolute;
        z-index: 1; 
        margin-top: -45px;
        left: 30%;
        font-size: 14px;
        color: white;
        background-color: var(--dark-std);
        text-align: center;
        padding: 11px 30px 11px 30px;
        display: inline-block;

    }
    .main__section--one_1 p {
        color: var(--dark-std);
        text-align: center;
        font-weight: bold;
    }





    .main__section--two {
        background-color: var(--dark-std);
        padding: 28px;
    }

    .main__section--two_1 {
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        display: inline-block;
        padding: 8px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 25px;
        
    }

    .main__section--two_2 {
        font-weight: bold;
        font-size: 22px;
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    .main__section--two_3 {
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr 1fr;
        grid-gap: 30px;
    }
    .main__section--two_3_img {
        height: 40px;
        width: 40px;
    }
    .main__section--two_3_title {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
    .main__section--two_3_text {
        font-size: 14px;
        color: white;
    }


    .main__section--three {
        padding: 32px;
    }
    .main__section--three_1 {
        background-color: var(--dark-std);
        font-size: 14px;
        color: white;
        display: inline-block;
        padding: 8px 30px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .main__section--three_2 {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        color: var(--dark-std);
    }
    .main__section--three_2_title {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    .main__section--three_2_text {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .main__section--three_3 {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        grid-gap: 15px;
    }
    .main__section--three_3_img div{
        background-color: var(--dark-std);
        color: white;
        font-size: 14px;
        text-align: center;
        padding: 10px 15px;
        margin-top: -5px;
    }


    .main__section--four {
        filter: saturate(100%);
        background:  url("../assets/about us/mobile/ian-macharia-509884-unsplash.png"), rgba(53, 68, 99, .8);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 23px;
        display: flex; 
        flex-direction: column;
    }
    .main__section--four_title {
        color: var(--dark-std);
        font-size: 14px;
        background-color: white;
        display: inline-block;
        padding: 11px 30px;
        display: inline-block;
        padding: 8px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 25px;
        text-align: center;
    }
    .main__section--four_text {
        font-size: 22px;
        line-height: 28px;
        color: white; 
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }

    .main__section--four_stat {
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding-inline: 25%;
    }
    .main__section--four_stat_n {
        color: white;
        margin-bottom: 15px;
    }
    .main__section--four_stat_n p:nth-child(1){
        font-family: "FloodStd";
        font-size: 44px;
        text-align: center;
    }
    .main__section--four_stat_n p:nth-child(2){
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }


    .main__section--five {
        background-color: var(--dark-std);
        padding: 64px 32px;
    }
    .main__section--five_title {
        font-family: "FloodStd";
        font-size: 44px;
        line-height: 46px;
        margin-bottom: 50px;
        color: white;
        text-align: center;
    }
    .main__section--five_cards {
        position: relative;
    }
    .main__section--five_cards img {
        max-width: 100%;
    }
    .main__section--five_cards .body {
        background-color: white;
        color: var(--dark-std);
        padding: 35px 27px;
    }
    .main__section--five_cards .body__year {
        background-color: white;
        color: var(--dark-std);
        padding: 11px 20px 11px 20px;
        width: 40%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -25px;
    }
    .main__section--five_arrow {
        background-color: var(--highlight-std);
        height: 48px;
        width: 48px;
        border-radius: 50%;
        padding: 14px;
        position: absolute;
        margin-left: 280px;
        margin-top: 70px;
    }
    .main__section--five_cards .body__title {
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 22px;
    }
    .main__section--five_cards .body__text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 22px;
    }
    .main__section--five_cards button {
        font-size: 18px; 
        font-weight: bold;
        padding: 9px 20px;
        background-color: var(--highlight-std);
        border: none;
        border-radius: 18px;
        margin-left: 40%;
        transform: translateX(-40%);
    }
    .main__section--five_card2 {
        display: none;
    }



    .main__section--six {
        background-color: var(--highlight-std);
        padding: 36px 30px;
    }
    .main__section--six_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .main__section--six_form {
        display: flex;
        justify-content: space-between;
    }
    .main__section--six_form input[type="email"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
    }
    .main__section--six_form input[type="submit"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        font-weight: bold;
        color: white;
        background-color: var(--dark-std);
    }



    .footer {
        display: grid;
        grid-template: 1fr 1fr 1fr / 50% 50%;
        grid-gap: 13px;
        padding: 67px 58px 0 32px;
        line-height: 24px;
        
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 1 / 2;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 2 / 3;
    }



}

@media (min-width: 601px) and (max-width: 1200px) {
    .header {
        padding: 40px 32px 3px 64px;
        display: flex;
        justify-content: space-between;
        
        
    }
    .header__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .header__title {
        
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 30px;
        color: var(--dark-std);
    }
    .header__nav {
        
        font-size: 16px;
        line-height: 25px;
        color: var(--dark-std);
    }
    .header__nav ul {
    }
    .header__nav li {
        display: inline;
        padding: 0 10px;
    }
    
    .header__button {
        border: none;
        border-radius: 24px;
        width: 140px;
        height: 48px;
        background-color: var(--highlight-std);
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-std);
        align-self: center;
    } 




    .main__section--one {
        
        background-image: url("../assets/about us/tablet/annie-spratt-427339-unsplash.png");
        padding: 64px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main__section--one_hashtag {
        font-family: 'FloodStd';
        font-size: 46px;
        color: white;
    }
    .main__section--one_1 {
        font-size: 28px;
        
        background-color: white;
        padding-top: 59px; 
        padding-right: 64px;
        padding-left: 59px;
        padding-bottom: 64px;
        margin-top: 136px;
        position: relative;
        
    }

    .main__section--one_1 div {
        position: absolute;
        z-index: 1; 
        margin-top: -80px;
        left: 64px;
        font-size: 14px;
        color: white;
        background-color: var(--dark-std);
        text-align: center;
        padding: 11px 30px 11px 30px;
        display: inline-block;

    }
    .main__section--one_1 p {
        color: var(--dark-std);
        text-align: center;
        font-weight: bold;
    }




    .main__section--two {
        background-color: var(--dark-std);
        padding: 64px;
    }
    .main__section--two_1 {
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        display: inline-block;
        padding: 8px;
        margin-bottom: 25px;
    }
    .main__section--two_2 {
        font-weight: bold;
        font-size: 25px;
        color: white;
        
        margin-bottom: 30px;
    }
    .main__section--two_3 {
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    .main__section--two_3_img {
        height: 40px;
        width: 40px;
    }
    .main__section--two_3_title {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
    .main__section--two_3_text {
        font-size: 14px;
        color: white;
    }



    .main__section--three {
        padding: 64px;
    }
    .main__section--three_1 {
        background-color: var(--dark-std);
        font-size: 14px;
        color: white;
        display: inline-block;
        padding: 8px 30px;
    }
    .main__section--three_2 {
        display: flex;
        
        margin-top: 20px;
        color: var(--dark-std);
    }
    .main__section--three_2_title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        
    }
    .main__section--three_2_text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .main__section--three_3 {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        grid-gap: 64px;
    }
    .main__section--three_3_img img {
        width: 100%;
    }

    .main__section--three_3_img div{
        background-color: var(--dark-std);
        color: white;
        font-size: 14px;
        text-align: center;
        padding: 10px 15px;
        margin-top: -5px;
        margin-right: -20px;
        margin-left: 20px;
        z-index: 1;
    }


    .main__section--four {
        filter: saturate(100%);
        background:  url("../assets/about us/tablet/Impact\ Background.png"), rgba(53, 68, 99, .8);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 64px 55px;
        display: flex; 
        flex-direction: column;
    }
    .main__section--four_title {
        color: var(--dark-std);
        font-size: 14px;
        background-color: white;
        display: inline-block;
        padding: 11px 30px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 25px;
        text-align: center;
    }
    .main__section--four_text {
        font-size: 36px;
        line-height: 46px;
        color: white; 
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }

    .main__section--four_stat {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr; 
        grid-gap: 45px;
        align-items: center;
        
    }
    .main__section--four_stat_n {
        color: white;
        margin-bottom: 15px;
    }
    .main__section--four_stat_n p:nth-child(1){
        font-family: "FloodStd";
        font-size: 72px;
        text-align: center;
    }
    .main__section--four_stat_n p:nth-child(2){
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }


    .main__section--five {
        background-color: var(--dark-std);
        padding: 68px 64px;
    }
    .main__section--five_title {
        font-family: "FloodStd";
        font-size: 44px;
        line-height: 46px;
        margin-bottom: 50px;
        color: white;
        text-align: left;
    }

    .main__section--five_cards {
        display: flex;
        position: relative;
    }
    .main__section--five_card1, .main__section--five_card2 {
        position: relative;
        margin-left: 50px;
    }

    .main__section--five_cards img {
        max-width: 100%;
    }
    .main__section--five_cards .body {
        background-color: white;
        color: var(--dark-std);
        padding: 35px 27px;
    }
    .main__section--five_cards .body__year {
        background-color: white;
        color: var(--dark-std);
        padding: 11px 20px 11px 20px;
        width: 40%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -25px;
    }
    .main__section--five_arrow {
        background-color: var(--highlight-std);
        height: 64px;
        width: 64px;
        border-radius: 50%;
        padding: 14px;
        position: absolute;
        margin-left: 590px;
        margin-top: -100px;
    }
    .main__section--five_cards .body__title {
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 22px;
    }
    .main__section--five_cards .body__text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 22px;
    }
    .main__section--five_cards button {
        font-size: 18px; 
        font-weight: bold;
        padding: 9px 20px;
        background-color: var(--highlight-std);
        border: none;
        border-radius: 18px;
        margin-left: 10%;
    }
    .main__section--five_card2 {
        display: block;
    }



    .main__section--six {
        background-color: var(--highlight-std);
        padding: 36px 30px;
    }
    .main__section--six_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .main__section--six_form form{
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .main__section--six_form input[type="email"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        grid-column: 1 / 3;
    }
    .main__section--six_form input[type="submit"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        font-weight: bold;
        color: white;
        background-color: var(--dark-std);
        grid-column: 3 / 4;
    }



    .footer {
        display: grid;
        grid-template: 50% 50% / 1fr 1fr 1fr;
        grid-gap: 13px;
        padding: 67px 32px 0 64px;
        line-height: 24px;
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;
    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 3 / 4;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 1 / 2;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 2 / 3;
    }    
}

@media (min-width: 1201px) {
    .header {
        padding: 40px 160px 3px 160px;
        display: flex;
        justify-content: space-between;
        
        
    }
    .header__text {
        
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        
    }
    .header__title {
        
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: var(--dark-std);
        width: 150px;
    }
    .header__nav {
        
        font-size: 16px;
        line-height: 25px;
        color: var(--dark-std);
    }
     
    .header__nav li {
        display: inline;
        padding: 0 50px;
    }
    .header__nav ul:nth-child(1) {
        
    }
    
    .header__button {
        border: none;
        border-radius: 24px;
        width: 140px;
        height: 48px;
        background-color: var(--highlight-std);
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-std);
    }

    


    .main__section--one {
        
        background-image: url("../assets/about us/desktop/annie-spratt-427339-unsplash.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 96px 160px 96px 160px;
        display: flex;
        position: relative;
    }

    .main__section--one_hashtag {
        font-family: 'FloodStd';
        font-size: 72px;
        color: white;
    }
    .main__section--one_1 {
        font-size: 28px;
        
        background-color: white;
        padding-top: 59px; 
        padding-right: 64px;
        padding-left: 59px;
        padding-bottom: 64px;
        position: relative;
        margin-left: 284px;
        
    }

    .main__section--one_1 div {
        position: absolute;
        z-index: 1; 
        margin-top: -80px;
        left: 64px;
        font-size: 14px;
        color: white;
        background-color: var(--dark-std);
        text-align: center;
        padding: 11px 30px 11px 30px;
        display: inline-block;
        position: absolute;
        
    }
    .main__section--one_1 p {
        color: var(--dark-std);
        text-align: center;
        font-weight: bold;
        
    }


    .main__section--two {
        background-color: var(--dark-std);
        padding: 129px 160px;
    }
    .main__section--two_1 {
        background-color: white;
        color: var(--dark-std);
        font-size: 14px;
        display: inline-block;
        padding: 8px;
        margin-bottom: 25px;
    }
    .main__section--two_2 {
        font-weight: bold;
        font-size: 44px;
        color: white;
        
        margin-bottom: 30px;
    }
    .main__section--two_3 {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    .main__section--two_3_img {
        height: 56px;
        width: 56px;
    }
    .main__section--two_3_title {
        font-size: 28px;
        color: white;
        font-weight: bold;
    }
    .main__section--two_3_text {
        font-size: 16px;
        color: white;
        line-height: 24px;
    }



    .main__section--three {
        padding: 64px;
    }
    .main__section--three_1 {
        background-color: var(--dark-std);
        font-size: 14px;
        color: white;
        display: inline-block;
        padding: 8px 30px;
    }
    .main__section--three_2 {
        display: flex;
        
        margin-top: 20px;
        color: var(--dark-std);
    }
    .main__section--three_2_title {
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 20px;
        
    }
    .main__section--three_2_text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .main__section--three_3 {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        grid-gap: 64px;
    }
    .main__section--three_3_img img {
        width: 100%;
    }

    .main__section--three_3_img div{
        background-color: var(--dark-std);
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 10px 15px;
        margin-top: -5px;
        margin-right: -20px;
        margin-left: 20px;
        z-index: 1;
    }   




    .main__section--four {
        filter: saturate(100%);
        background:  url("../assets/about us/tablet/Impact\ Background.png"), rgba(53, 68, 99, .8);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 139px 182px 126px 182px;
        display: flex; 
        flex-direction: column;
    }
    .main__section--four_title {
        color: var(--dark-std);
        font-size: 14px;
        background-color: white;
        padding: 8px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .main__section--four_text {
        font-size: 44px;
        line-height: 46px;
        color: white; 
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }

    .main__section--four_stat {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr; 
        align-items: center;
        
    }
    .main__section--four_stat_n {
        color: white;
        margin-bottom: 15px;
    }
    .main__section--four_stat_n p:nth-child(1){
        font-family: "FloodStd";
        font-size: 72px;
        text-align: center;
    }
    .main__section--four_stat_n p:nth-child(2){
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }




    .main__section--five {
        background-color: var(--dark-std);
        padding: 160px 127px;
    }
    .main__section--five_title {
        font-family: "FloodStd";
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 50px;
        color: white;
        text-align: left;
        
    }

    .main__section--five_cards {
        display: flex;
        position: relative;
    }
    .main__section--five_card1, .main__section--five_card2 {
        position: relative;
        margin-left: 50px;
    }

    .main__section--five_cards img {
        width: 100%;
    }
    .main__section--five_cards .body {
        background-color: white;
        color: var(--dark-std);
        padding: 64px;
    }
    .main__section--five_cards .body__year {
        background-color: white;
        color: var(--dark-std);
        padding: 11px 20px 11px 20px;
        width: 40%;
        text-align: center;
        position: absolute;
        margin-left: 20%;
        margin-top: -25px;
    }
    .main__section--five_arrow {
        background-color: var(--highlight-std);
        height: 64px;
        width: 64px;
        border-radius: 50%;
        padding: 14px;
        position: absolute;
        margin-left: 1150px;
        margin-top: -140px;
    }
    .main__section--five_cards .body__title {
        font-size: 28px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 22px;
    }
    .main__section--five_cards .body__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 22px;
    }
    .main__section--five_cards button {
        font-size: 18px; 
        font-weight: bold;
        padding: 9px 20px;
        background-color: var(--highlight-std);
        border: none;
        border-radius: 18px;
    }
    .main__section--five_card2 {
        display: block;
    }


    .main__section--six {
        background-color: var(--highlight-std);
        padding: 69px 160px;
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        grid-gap: 10px;
    }
    .main__section--six_title {
        color: var(--dark-std);
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
        padding-right: 25px;
        grid-column: 1 / 3;
    }
    .main__section--six_form {
        grid-column: 3 / 5;
    }
    .main__section--six_form form{
        

        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .main__section--six_form input[type="email"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        grid-column: 1 / 3;
    }
    .main__section--six_form input[type="submit"] {
        border: none;
        border-radius: 20px;
        padding: 14px 16px;
        font-weight: bold;
        color: white;
        background-color: var(--dark-std);
        grid-column: 3 / 4;
    }


    
    .footer {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr  ;
        grid-gap: 100px;
        padding: 113px 158px 121px 158px;
        line-height: 24px;
    }
    
    .footer__b1 {
        font-size: 18px;
        color: var(--dark-std);
        font-weight: bold;
        grid-column: 1 / 2;
    }
    
    
    .footer__b2 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 2 / 3;

    }
    
    .footer__b3 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 3 / 4;
    }
    .footer__b4 {
        font-size: 14px;
        color: var(--dark-std);
        grid-column: 4 / 5;
    }
    .footer__b5 {
        font-size: 44px;
        font-family: "FloodStd";
        color: var(--dark-std);
        line-height: 46px;
        grid-column: 5 / 6;
    }        
}
